* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pacifico", cursive;
    background-color: rgb(247, 241, 231);
}


/* In this CSS I have made examples of gradient shading and box shading and text shading for special effects */

h1 {
    text-align: center;
    border: 5px rgb(5, 5, 5) solid;
    color: rgb(96, 83, 61);
    background-image: linear-gradient(white, rgb(156, 156, 197));
    text-shadow: 2px 2px white;
    box-shadow: 10px 10px 5px grey;
}

.first {
    background-image: linear-gradient(rgb(11, 214, 211), rgb(183, 229, 240));
    text-align: center;
    border: 5px black solid;
    width: fit-content;
    padding: 20px 40px;
    /* margin-left: 35%;
    margin-bottom: 45px; */
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(11, 67, 67);
    box-shadow: 10px 10px 5px grey;
}

.second {
    background-image: linear-gradient(white, red);
    text-align: center;
    border: 5px rgb(62, 10, 182) solid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    color: rgb(68, 10, 80);
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 5px grey;
}

.coffeePicture {
    border: 6px solid rgb(249, 78, 4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px 5px grey;
    margin-top: 65px;
}

.goingBack {
    margin-top: 45px;
}

.list {
    border: 5px gray solid;
    width: fit-content;
    text-align: left;
    list-style-position: inside;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 40px auto;
    /* background-color: rgb(230, 211, 211); */
    background-image: linear-gradient(rgb(242, 206, 168), rgb(247, 234, 219));
    box-shadow: 10px 10px 5px grey;
}

.item:nth-child(4) {
    padding-right: 35px;
}

.item {
    padding-left: 35px;
}

.explanation {
    font-size: 30px;
    font-style: normal;
    border: 5px gray solid;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    height: 100px;
    background-color: red;
    color: white;
    text-shadow: 2px 2px 4px #352302;
    background-image: radial-gradient(rgb(0, 0, 0), #e9c097);
    box-shadow: 10px 10px 5px grey;
}

li {
    font-size: 25px;
}

.news {
    font-family: helvetica;
    line-height: 1.5;
}

.container {
    width: 700px;
    margin: 0 auto;
}


/* .faveCoffees {
    margin-top: 40px;
    padding-top: 40px;
} */

.coffees {
    background-color: rgb(218, 218, 215);
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    box-shadow: 10px 10px 5px grey;
}

.coffeesList {
    margin-left: auto;
    margin-right: auto;
}

.return {
    padding-bottom: 20px;
    padding-top: 20px;
}

.reasons {
    padding-top: 50px;
    padding-bottom: 30px;
}

.coffeeDrink {
    padding-bottom: 40px;
}

.nextPage {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Very important for control of the ANCHOR decorating--you must use link,visited,hover,active in that order as psuedo-classes */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    background-color: #000000;
    color: red;
    /* display: inline-block; */
    text-decoration: underline red;
}

a:active {
    background-color: black;
    font-style: italic;
}

header.faveCoffees {
    text-align: center;
}

.myFaves {
    padding-top: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.myFaves:visited {
    color: black;
}

.faveCoffees {
    font-size: 35px;
}


/* using a global reset at the top which is 
* {
  margin: 0;
  padding: 0;
}
is a good idea 
*/